<% provide(:title, "User Edit") %>
<center><h1>Editing User</h1></center>

<center><%= render 'form' %></center>

<center><%= button_to 'Show', @user, class: "btn-normal" %> |</center>
<center><%= button_to 'Back', homepage_path, class: "btn-normal" %></center>
