<% provide(:title, "About") %>
<center><h3>About the Website</h3></center>
<center>
  <div style="text-align: center;"><img src="/images/fotasia_logo.jpg" alt="Fotasia Album Website" style="width: 486px; height: 286px;" align="top"></div>
  <p><b><%= render text: "Foto Web App v.0.3.1 alpha " %></b>
</p></center>