<% provide(:title, "Foto Edit") %>
<center><h1>Editing Foto</h1></center>

<center><%= render 'form' %></center>

<center><%= button_to 'Show', @foto, class: "btn-normal" %>
  <%= button_to 'Back', fotos_path, class: "btn-normal" %></center>
